.invalid {
    color: red;
}

.valid {
    color: green;
}

h2 {
    text-align: center;
}

p {
    text-align: center;    
}

h4 {
    text-align: center;
}

.form-group {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.container {
    margin-top: 6vh;
}