
img {
    width: 140px;
    height: 140px;
}

.card {
    border: none;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 15vh;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.paramLogo {
    width: 30px;
    height: 30px;
}