<div class="profilHead">
    <div class="profilPic">
        <img src='{{ connectedUser.urlPhotoProfil }}'>
    </div>
</div>
<div>
    <div class="profilInfos">
        <h3>{{ connectedUser.prenomUser }}</h3>
        <h3>{{ connectedUser.nomUser }}</h3>
    </div>
    <div class="userTags">
        <h2>Mes favoris<a href="/profil/addTag">GERER</a></h2>
        <ul class="tagList">
            <li *ngFor="let tag of tags">
                <p>{{ tag.intituleTag }}</p>   
            </li>
        </ul>
    </div>
</div>
