<h2>NOS SUGGESTIONS POUR TOI</h2>
<ul class="activites">
  <li *ngFor="let activite of activites">
    <div class="card" style="width: 26rem;">
      <a href="activite/{{ activite.idActivite }}">
        <img class="card-img-top" src="{{ activite.urlImageActivite }}" alt="Card image cap">
      </a>
      <div class="card-body">
        <a href="activite/{{ activite.idActivite }}">
          <h5 class="card-title">{{ activite.nomActivite }}</h5>
          <p class="card-text">{{ activite.descriptionActivite }}</p>
        </a>  
      </div>
    </div>
  </li>
</ul>